@use "../variables.module.scss" as variables;

.dark {
  .ant-input {
    background: none !important;
    color: white !important;

    &::selection {
      background: variables.$primary_dark;
    }

    &:hover {
      border-color: variables.$primary_dark;
    }

    &[disabled]:hover {
      border-color: variables.$primary_dark;
    }

    &:focus {
      border-color: variables.$primary_dark;
    }

    &:not(:focus) {
      border-color: variables.$primary_dark;
    }
  }

  .ant-input-affix-wrapper {
    background-color: transparent !important;
    color: variables.$primary_dark;

    > input {
      background-color: transparent;
      color: white;
    }

    > input::selection {
      background: variables.$primary_dark;
    }

    > input:-webkit-autofill {
      background: none;
    }

    &:not(.ant-input-affix-wrapper-disabled):hover {
      border-color: variables.$primary_dark;
    }

    &:not(.ant-input-affix-wrapper-disabled):focus {
      border-color: variables.$primary_dark;
      box-shadow: 0 0 0 2px variables.$primary-shadow;
    }

    &:not(.ant-input-affix-wrapper-disabled):not(:focus) {
      border-color: variables.$primary_dark;
    }
  }

  .ant-input-affix-wrapper-disabled {
    border-color: variables.$primary_dark;

    &:hover {
      border-color: variables.$primary_dark;
    }
  }

  .ant-input-affix-wrapper-focused {
    box-shadow: 0 0 0 2px variables.$primary-shadow;
  }

  .ant-form-item-has-error {
    > div > div > div > span {
      background: none !important;
    }
  }

  /* stylelint-disable max-line-length */
  // Глобальные стили (из antd)
  .ant-form-item-has-error :not(.ant-input-disabled):not(.ant-input-borderless).ant-input,
  .ant-form-item-has-error :not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper,
  .ant-form-item-has-error :not(.ant-input-disabled) :not(.ant-input-borderless).ant-input:hover,
  .ant-form-item-has-error :not(.ant-input-affix-wrapper-disabled) :not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper:hover {
    background-color: transparent !important;
    border-color: #ff4d4f;
  }
  /* stylelint-enable */
}

.light {
  .ant-input {
    background: none !important;
    color: white !important;

    &::selection {
      background: variables.$primary;
    }

    &:hover {
      border-color: variables.$primary;
    }

    &[disabled]:hover {
      border-color: variables.$primary;
    }

    &:focus {
      border-color: variables.$primary;
    }

    &:not(:focus) {
      border-color: variables.$primary;
    }
  }

  .ant-input-affix-wrapper {
    background-color: transparent !important;
    color: variables.$primary;

    > input {
      background-color: transparent;
      color: white;
    }

    > input::selection {
      background: variables.$primary;
    }

    > input:-webkit-autofill {
      background: none;
    }

    &:not(.ant-input-affix-wrapper-disabled):hover {
      border-color: variables.$primary;
    }

    &:not(.ant-input-affix-wrapper-disabled):focus {
      border-color: variables.$primary;
      box-shadow: 0 0 0 2px variables.$primary-shadow;
    }

    &:not(.ant-input-affix-wrapper-disabled):not(:focus) {
      border-color: variables.$primary;
    }
  }

  .ant-input-affix-wrapper-disabled {
    border-color: variables.$primary;

    &:hover {
      border-color: variables.$primary;
    }
  }

  .ant-input-affix-wrapper-focused {
    box-shadow: 0 0 0 2px variables.$primary-shadow;
  }

  .ant-form-item-has-error {
    > div > div > div > span {
      background: none !important;
    }
  }

  /* stylelint-disable max-line-length */
  // Глобальные стили (из antd)
  .ant-form-item-has-error :not(.ant-input-disabled):not(.ant-input-borderless).ant-input,
  .ant-form-item-has-error :not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper,
  .ant-form-item-has-error :not(.ant-input-disabled) :not(.ant-input-borderless).ant-input:hover,
  .ant-form-item-has-error :not(.ant-input-affix-wrapper-disabled) :not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper:hover {
    background-color: transparent !important;
    border-color: #ff4d4f;
  }
  /* stylelint-enable */
}
