@use "../variables.module.scss" as variables;

.ant-notification {
  font-family: "Press Start 2P", cursive;
}

.dark {
  .ant-notification-notice {
    background:
      variables.$background_dark
      url("../../assets/images/background.png") no-repeat center center;
  }

  .ant-notification-notice-message {
    color: white;
  }

  .ant-notification-notice-close-x {
    color: white;

    &:hover {
      color: darken(white, 10%) !important;
    }
  }
}

.light {
  .ant-notification-notice {
    background:
      variables.$background url("../../assets/images/background.png")
      no-repeat center center;
  }

  .ant-notification-notice-message {
    color: black;
  }

  .ant-notification-notice-close-x {
    color: black;

    &:hover {
      color: darken(black, 10%) !important;
    }
  }
}
