@use "./src/styles/variables.module.scss" as variables;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: all 0s 50000s;
}

.input {
  &:global(.ant-input) {
    background: none !important;
    color: white !important;
  }

  &:global(.ant-input)::selection,
  &:global(.ant-input):hover,
  &:global(.ant-input):focus,
  &:global(.ant-input):not(:focus) {
    border-color: variables.$primary;
  }
  // prefix
  &:global(.ant-input-affix-wrapper) {
    background: none !important;
    color: variables.$primary;
    > input {
      background: none !important;
      color: white;
    }
    > input::selection {
      background: variables.$primary;
    }
    // todo не срабатывает
    > input:-webkit-autofill {
      background: none !important;
    }
  }
  &:global(.ant-input-affix-wrapper):not(.ant-input-affix-wrapper-disabled):hover {
    border-color: variables.$primary;
  }
  &:global(.ant-input-affix-wrapper):not(.ant-input-affix-wrapper-disabled):focus {
    border-color: variables.$primary;
  }
  &:global(.ant-input-affix-wrapper):not(.ant-input-affix-wrapper-disabled):not(:focus) {
    border-color: variables.$primary;
  }
  // has-error
  &:global(.ant-form-item-has-error) {
    > div > div > div > span {
      background: none;
    }
  }
}
