# top-most EditorConfig file
root = true

# 
[**/*.{ts,tsx,js}]
charset = utf-8
indent_style = space
indent_size = 4

# Tab indentation (no size specified)
[Makefile]
indent_style = tab
indent_size = 2

# Matches the exact files either package.json
[{package.json}]
indent_style = space
indent_size = 2
