@use "./src/styles/variables.module.scss" as variables;

button {
  &:global(.ant-btn-text) {
    color: white;
    &:hover {
      color: variables.$primary;
    }
    &:active {
      color: darken(variables.$primary, 10%);
    }
    &:focus {
      color: darken(variables.$primary, 10%);
    }
  }

  &:global(.ant-btn-primary) {
    border-color: variables.$primary;
    background-color: variables.$primary;
    &:hover {
      background: darken(variables.$primary, 10%);
      border-color: darken(variables.$primary, 10%);
    }
    &:active {
      background: darken(variables.$primary, 10%);
      border-color: darken(variables.$primary, 10%);
    }
    &:focus {
      background: darken(variables.$primary, 10%);
      border-color: darken(variables.$primary, 10%);
    }
  }
}
