@use './src/styles/variables.module.scss' as variables;

.container {
  padding: variables.$spacing_x1;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 7vh 12vh;

  > a {
    margin-top: 60px;
  }
}

.title {
  font-size: 144px;
  color: white;
}

.info {
  font-size: 24px;
  color: white;
  max-width: 648px;
  text-align: start;
}

.gameHref {
  color: white;
  width: 128px;
  height: 40px;
  background: variables.$primary;
  padding: 7px
}
.gameHref:hover {
  background: darken(variables.$primary, 10%);
  color: white;
}