@use "@/styles/variables.module.scss" as variables;

.cancelButton {
  color: white;
  background-color: transparent;
  border-color: transparent;

  &:hover {
    color: darken(variables.$primary, 10%);
    background-color: transparent;
    border-color: transparent;
  }
}
