@use "./src/styles/variables.module.scss" as variables;

@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.buttonContainer {
  display: flex;
  flex-direction: column;
  padding: variables.$spacing_x2;

  > button {
    margin-bottom: variables.$spacing_x2;
  }
}

.title {
  text-align: center;
  color: white;
  margin-bottom: 20px;
}