@use "./src/styles/variables.module.scss" as variables;

.ant-input {
  background: none;
  color: white;

  &::selection {
    background: variables.$primary;
  }

  &:hover {
    border-color: variables.$primary;
  }

  &:focus {
    border-color: variables.$primary;
  }

  &:not(:focus) {
    border-color: variables.$primary;
  }
}

.ant-input-affix-wrapper {
  background-color: transparent;
  color: variables.$primary;

  > input {
    background-color: transparent;
    color: white;
  }

  > input::selection {
    background: variables.$primary;
  }

  > input:-webkit-autofill {
    background: none;
  }

  &:not(.ant-input-affix-wrapper-disabled):hover {
    border-color: variables.$primary;
  }

  &:not(.ant-input-affix-wrapper-disabled):focus {
    border-color: variables.$primary;
  }

  &:not(.ant-input-affix-wrapper-disabled):not(:focus) {
    border-color: variables.$primary;
  }
}

.ant-form-item-has-error {
  > div > div > div > span {
    background: none;
  }
}

// Глобальные стили (из antd)
.ant-form-item-has-error :not(.ant-input-disabled):not(.ant-input-borderless).ant-input,
.ant-form-item-has-error :not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper,
.ant-form-item-has-error :not(.ant-input-disabled) :not(.ant-input-borderless).ant-input:hover,
.ant-form-item-has-error :not(.ant-input-affix-wrapper-disabled) :not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper:hover {
  background-color: transparent !important;
  border-color: #ff4d4f;
}
