//colors
$primary: #ff7a45;
$background: #595959;
$secondary: #595959;
$disabled: #d9d9d9;
$light_green: #f6ffed;
$green: #52c41a;
$light_red: #fff1f0;
$red: #f5222d;

$primary_dark: #1b1b1b;
$background_dark: #030303;
$secondary_dark: #292929;
$disabled_dark: #5c5c5c;
$light_green_dark: #f6ffed;
$green_dark: #52c41a;
$light_red_dark: #fff1f0;
$red_dark: #f5222d;

// spacing
$spacing_x1: 11px;
$spacing_x2: 22px;
$spacing_x3: 44px;
$navbar_height: 64px;
$margin_bottom: 24px;

//font sizes
$main: 16px;

// extra colors
$primary-shadow: rgb(255 122 69 / 20%);

// view
$pagination_height: 60px;
