//colors
$primary: #ff7a45;
$secondary: #595959;
$disabled: #d9d9d9;
$light_green: #f6ffed;
$green: #52c41a;
$light_red: #fff1f0;
$red: #f5222d;

// spacing
$spacing_x1: 11px;
$spacing_x2: 22px;
$spacing_x3: 44px;
$navbar_height: 64px;
$margin_bottom: 24px;

//font sizes
$main: 16px;
