.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-end;
    width: 100px;
    margin-bottom: 10px;
}

.buttonRight {
    margin-right: 10px;
}