@use './src/styles/variables.module.scss' as variables;
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.modal {
  // todo через классы стили почему-то не применяются, как у остальных компонент antd
  // todo более того, шрифт тоже не подгружается просто так
  &:global(.ant-modal) {
    font-family: 'Press Start 2P';
    width: 400px !important;
    // .ant-modal-body
    > div > div:nth-of-type(2) {
      background: variables.$background url('../../../assets/images/background.png') no-repeat center center !important;
    }
    // .ant-modal-content
    > div > div:first-of-type {
      background: variables.$background;
      border: none;
      text-align: center;
      // .ant-modal-header
      > div {
        color: white;
        font-size: 24px;
      }
    }
  }
}