@use "./src/styles/variables.module.scss" as variables;

.App {
  font-family: "Press Start 2P", cursive;
  font-size: 16px;
  text-align: center;
  background: variables.$secondary url("../../assets/images/background.png") no-repeat center center/cover;
  height: 100vh;
}
