.App {
  font-family: "Press Start 2P", cursive;
  font-size: 16px;
  text-align: center;
  background: #595959 cover url("../../assets/images/background.png") no-repeat center center;
  height: 100vh;
}
