@use "./src/styles/variables.module.scss" as variables;

div {
  &:global(.ant-statistic-title) {
    color: white;
  }
  &:global(.ant-statistic-content) {
    color: white;
    font-family: "Press Start 2P";
  }
}
