@use "./src/styles/variables.module.scss" as variables;

.title {
  font-size: 144px;
  color: white;
}

.info {
  font-size: 24px;
  color: white;
}

.notFound {
  height: 419px;
  width: 310px;
  background: url("../../../assets/images/404.png") no-repeat center center/cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15vh auto auto;
  padding: variables.$spacing_x2;
}

.errorContainer {
  display: flex;
  flex-direction: column;
  align-items: baseline;

  > a {
    margin-top: 60px;
  }
}

.back {
  color: white;
  width: 176px;
  height: 40px;
  background: variables.$primary;
  padding: 7px;
}

.back:hover {
  background: darken(variables.$primary, 10%);
  color: white;
}
