@use "./src/styles/variables.module.scss" as variables;

.container {
  margin: 25vh auto auto;
  padding: variables.$spacing_x2;
  max-width: 360px;
}

.title {
  margin-bottom: variables.$spacing_x2;
}